<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/vendors.min.css" />
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/pet2love.min.css" />
	<link rel="stylesheet" type="text/css" href="/layout/stylesheets/cadastro-pets.css"/>

	D<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div class="aw-layout-page">
		<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#">
						<img alt="Pet 2 Love" class="logotipo" th:src="@{/layout/images/logotipo24_sem_fundo.png}"/>
					</a>

					<ul class="nav  navbar-nav">
						<li>
							<a href="#" class="js-sidebar-toggle">
								<i class="fa  fa-bars"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">

				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">

						<li class="aw-menu__item">
							<a th:href="@{/pets/novo}">
								<i class="fa  fa-fw  fa-plus-square"></i>

								<span>Cadastro pet</span>
							</a>

							<!-- <a th:href="@{/pets}">
								<i class="fa  fa-fw  fa-table"></i>

								<span>Lista pet</span>
							</a> -->
						</li>
					</ul>
				</nav>

			</div>
		</aside>

		<section class="aw-layout-content  js-content">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-8">
							<h1>
								Cadastro pet
							</h1>
						</div>

						<!-- <div class="col-xs-4">
							<div class="aw-page-header-controls">
								<a class="btn btn-primary" th:href="@{/pets}">
									<i class="fa fa-table"></i>

									<span class="hidden-xs hidden-sm">Lista pets</span>
								</a>
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<div class="container-fluid">

				<div class="alert  alert-success"
					th:if="${!#strings.isEmpty(mensagem)}">
					<i class="fa fa-check-circle"></i>
						<span th:text="${mensagem}">Mensagem sucesso!</span>
				</div>

				<form method="POST" class="form-vertical  js-form-loading"
					th:object="${pet}" th:action="@{/novo}">
					
                <div class="alert  alert-danger  alert-dismissible" role="alert"
                	th:if="${#fields.hasAnyErrors()}">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div th:each="erro: ${#fields.detailedErrors()}">
						<i class="fa fa-exclamation-circle"></i>
						
						<span th:text="${erro.message}">Mensagem erro.</span>
					</div>
					
					
				</div>
					
					<div class="form-group">
						<label for="nomeDono">Nome do  Dono</label>

						<input id="nomeDono" type="text" class="form-control" 
							th:field="*{nomeDono}"/>
					</div>
					
					<div class="form-group">
						<label for="email">Email do  Dono</label>

						<input id="emailDono" type="email" class="form-control"
							th:field="*{email}"/>
					</div>
					
					<div class="form-group">
						<label for="endereco">Endereço</label>

						<input id="endereco" type="text" class="form-control" 
							th:field="*{endereco}"/>
					</div>
					
					<div class="form-group">
						<label for="nomeAnimal">Nome do Pet</label>

						<input id="nomeAnimal" type="text" class="form-control" 
							th:field="*{nomeAnimal}"/>
					</div>
					
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="especieAnimal">Especie Animal</label>

								<select id="especieAnimal" class="form-control"
								 	th:field="*{especieAnimal}">
									<option value="">Selecione a espécie</option>
									<option th:each="especieAnimal: ${especie}"
										th:value="${especieAnimal}" th:text="${especieAnimal.descricao}" ></option>
								</select>
							</div>
						</div>
					    <div class="col-sm-6">
							<div class="form-group">
								<label for="sexoAnimal">Sexo</label>

								<select id="sexoAnimal" class="form-control"
								 	th:field="*{sexoAnimal}">
									<option value="">Selecione o sexo</option>
									<option th:each="sexoAnimal: ${sexo}"
										th:value="${sexoAnimal}" th:text="${sexoAnimal.descricao}" ></option>
								</select>
							</div>
						</div> 
						
						
					</div>
					
					<div class="row">
						
						  <div class="col-sm-6">
							<div class="form-group">
								<label for="raca">Raça</label>
								<select id="raca" class="form-control"
								 	th:field="*{raca}">
									<option value="">Selecione a raça do Pet</option>
									<option th:each="raca: ${racas}"
										th:value="${raca}" th:text="${raca.descricao}"></option>
								</select>
							</div>
						</div> 
						
						<div class="col-sm-6">
							<label for="idadeAnimal">Idade do Pet</label>
	
							<input id="idadeAnimal" type="number" min="0" class="form-control" 
								th:field="*{idadeAnimal}"/>
						</div>	
					</div>
					<div class="row">	
					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
					</div>
				</form>
				<!-- <button class="btn  btn-facebook" type="">Usar o Facebook</button> -->
			</div>
		</section>

		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; 2018 Pet 2 Love. Todos os direitos reservados.</span>
			</div>
		</footer>
	</div>

	<script src="/layout/javascripts/vendors.min.js"></script>
	<!--  <script src="/layout/javascripts/pet2love.min.js"></script> -->
	<script src="/javascripts/vendors/jquery.mask.min.js"></script>

	<script>
		jQuery('.js-moeda').mask("#.##0,00", { reverse: true });
	</script>
</body>
</html>